*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;

}
@font-face {
    font-family:gothic;
    src: url(../SixSpa_ES/GOTHIC.TTF);
    font-weight: lighter;
}
body{
    font-family:gothic;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left top, #ccd3c6, #d7dccf, #e2e5d9, #f6f8ec, #f8f8ed); background-size: cover;
    color: #000;
}
/***************** I N D E X *****************/

/* H E A D E R  */
.header{
    width: 100%;
    height: auto;
    background-color: #808000;
}
.nav{
    display: flex;
}
.logo{
    width: 30%;
}
.logo img{
    width: 60%;
    display: block;
    margin: 3.5% auto;
}
.nav-menu{
    width: 40%;
    display: flex;
    margin:0 auto;
}
.nav-menu li{
    text-align: center;
    width: 20%;
    padding: 1%;
    margin: auto;
    list-style: none;
    border-radius: 20px;
    transition: all .3s;
}
.nav-menu li:hover{
    box-shadow: inset -23px -23px 46px #6d6d00,
                inset 23px 23px 46px #939300;
}
.header-leng{
    width: 10%;
    margin: 3% 1%;
}
.leng, .leng-content{
    list-style: none;
    padding: 0;
    margin: 0;
}
.leng-content{
    height: 50%;
    position: absolute;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    margin-top: .3%;
    z-index: 100;
    margin: .3% auto;
}
.leng-content li{
    margin-left: 30%;
}
.leng:hover .leng-content{
    opacity: 1;
    visibility: visible;
}

.nav-menu a{
    font-family:gothic;
    font-size: 1em;
    text-decoration: none;
    color: white;
}
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 2em;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
  }
  .nav_commit{
    color: white;
    font-size: .5em;
    font-weight: bold;
    margin: 5% 0;
    text-align: center;
    display: none;
  }

/* M A I N */
.main-index{
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

/* Slider - Carousel */
.container-slider{
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.slider{
    width: 400%;
    height: 100%;
    display: flex;
    margin-left: -100%;

    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in-out;
}
@keyframes cambio{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    50% {margin-left: -100%;}

    55% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}

}
.slider-section{
    width: 100%;
    margin: .5% 0 0 0;
}
.slider-img{
    display: block;
    width: 95%;
    height: 100%;
    margin: auto;
    background: #e0e0e0;
    box-shadow:  -20px -20px 60px #bebebe,
                 20px 20px 60px #ffffff;
}
.slider-btn{
    position: absolute;
    width: 40px;
    margin: 0 2% ;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.308);
    color: rgba(249, 239, 239, 0.308);
    top: 50%;
    transform: translatey(-50);
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    border-radius: 60%;
    cursor: pointer;
    transition: all .5s;
}
.slider-btn:hover{
    background: #a9a9a98e;
    color: #fff;
}
.slider-btn_right{
    right: 1%;
}
.slider-btn_left{
    left: 1%;
}

/* Cuerpo */
.main-text1{
    width: 85%;
    height: auto;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    margin: 10% auto 19%;
    margin-bottom: 0;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #707070,
             -6px -6px 12px #ffffff;
}
.main-text1 h2{
    margin: 7%;
}
.main-text1 p{
    font-size: 130%;
    width: 70%;
    margin: 5% auto;
}
.main-text1 a{
    text-decoration: none;
    color: rgb(96, 95, 95);
    display: block;
    margin: 5% auto;
}
.main-text2{
    width: 85%;
    height: auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    margin: 10% auto 19%;
    margin-bottom: 0;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #707070,
             -6px -6px 12px #ffffff;
}
.main-text2 h2{
    margin: 7%;
}
.main-text2 p{
    font-size: 130%;
    width: 70%;
    margin: 5% auto;
}
.main-text2 a{
    text-decoration: none;
    color: rgb(96, 95, 95);
    display: block;
    margin: 5% auto;
}
.index-img1{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 85%;
    height: 75%;
    margin: auto;
    margin-top: 7%;
}
.img1{
    width: 100%;
    height: 100%;
    border-radius: 0 60px 0 60px; 
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #707070,
             -6px -6px 12px #ffffff;
    object-fit: cover; 
}

.index-img2{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 85%;
    height: 75%;
    margin: auto;
    margin-top: 7%;
}
.img2{
    width: 100%;
    height: 100%;
    border-radius: 60px 0 60px 0; 
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #707070,
             -6px -6px 12px #ffffff;
    object-fit: cover; 
} 

.video-content{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    width: auto;
    height: auto;
    padding-bottom: 45%;
    margin-top: 3%;
    position: relative;
}
.video{
    position: absolute;
    width: 80%;
    height: 90%;
    margin: 0 10%;
    border-radius: 15px;
}
/* Mapa y contacto */
.ubication-text{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    width: 100%;
    height: auto;
}
.ubication-text h3{
   text-align: center;
   line-height: 350%;
    font-size: 200%;
}
.ubication-text p{
    text-align: center;
    line-height:250%;
    font-size: 120%;
    font-weight: bold;
}
.ubication-map{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    width: 100%;
    height: auto;
    
}
.frame-map{
    width: 90%;
    height: 100%;
    clip-path: circle(35%);
    display: block;
    margin: 2% auto;
    transition: all 1s;
    box-shadow:  6px 6px 12px #707070;
}
.frame-map:hover{
    clip-path: circle(100%);
    width: 90%;
    border-radius: 10px;
}

/* Enlace servicios */
.services-link{
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    width: 100%;
    height: auto;
}
.services-button{
    padding: 1%;
    display: block;
    margin: 4% auto;
    border: 2px solid rgb(96, 95, 95);;
    border-radius: 30px;
    background: #e0e0e0;
}
.services-button a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder ;
    color: rgb(96, 95, 95);
}
.services-button:hover{
    background: #e0e0e0;
box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}
.services-button a:hover{
    color: rgb(66, 65, 65);
}
/* FOOTER */
footer{
    height: auto;
    background-color: #1d1d1d;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;    
}
footer hr{
    display: none;
}
.footer-logo{
    width: 23%;
}
.footer-logo img{
    width: 100%;
    height: auto;
    margin: 1% auto;
}
.footer-logo p{
    width: auto;
    height: auto;
    font-size:.8em;
}
.footer-contacto{
    width: auto;
    height: auto;
    margin: 2% 0;
    font-size: 1em;
}
.footer-contacto h2{
    margin: 5% 0;
}
.footer-contacto p{
    margin: 2%;
    font-weight: 100;
}
.footer-redes{
    width: auto;
    height: auto;
    margin: 2% 0;
}
.footer-redes h2{
    margin: 5% 0;
}
.footer-redes_sociales{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    transition: all .1s;
}
.footer-redes_sociales a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    margin: 7% 0;
}

/************ S E R V I C I O S *****************/

.main-servicios{
    width: 100%;
    height: auto;
}
.tittle-servicios{
    text-align: center;
    padding: 1% 0;
    font-size: 200%;
    color: #fff;
    background-color: #80800080;

}
/*- C A R D S -*/
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 3% 2%;
}
 .card {
    position: relative;
    width: 90%;                    
    height: 20em;
    margin: 5%;
    }
.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .6s;
}
.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3 {
    font-weight: lighter;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 250%;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
    font-size: 110%;
}
.card .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #989800;
    padding: 7%;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: auto;
    line-height: 250%;
}
.card .back .link a {
    color: #f3f3f3;
    text-decoration: none;
    font-size: 150%;
}
.card .back h3 {
    font-size: 130%;
}
.card .back p{
    font-size: 100%;
}
.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
.main-servicios hr{
    width: 50%;
    margin: 2% auto;
}
.reserva-aqui{
    width: 100%;
    display: block;
    margin: 1% auto;
    padding: 2% 0;
    text-align: center;
    color: rgb(66, 65, 65);
}
.reserva-aqui button{
    margin: 2% 0 2% 0;
    padding: 1%;
    width: 20%;
    border-radius: 5px;
    border: 2px solid rgb(96, 95, 95);;
    border-radius: 30px;
    background: #e0e0e0;
}
.reserva-aqui button:hover{
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}
.reserva-aqui a{
    text-decoration: none;
    color: rgb(96, 95, 95);;
    font-size: 150%;
    font-weight: bolder;
}
.reserva-aqui a:hover{
    color: rgb(66, 65, 65);
}

/************* C O N T A C T O ****************/
.main-contacto{
    width: 100%;
    height: auto;
}
.tittle-contacto{
    text-align: center;
    padding: 1% 0;
    font-size: 100%;
    color: #fff;
    background-color: #80800080;
}
.contacto-general{
    display: flex;
    justify-content: space-evenly;
}
.datos_contacto{
    width: 40%;
    color: #000;
    font-size: 120%;
    margin: 2% 0;
    text-align: center;
}
.datos_contacto h3{
    margin: 7%;
}
.datos_contacto p{
    margin: 7% 0 0 0;
    font-weight: 100;
}
.map-contacto{
    margin-top: 11%;
    width: 100%;
    box-shadow:  6px 6px 12px #707070,
             -6px -6px 12px #ffffff;
}
.hr-datos_contacto{
    display: none;
}
.formulario-contacto{
    width: 40%;
  margin-top: 3%;
  color: #000;
}
.formulario-contacto h4{
    display: block;
    width: 100%;
    margin: 5% 0 2% 0;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}
.formulario-contacto input{
    width: 100%;
    padding: 1%;
    box-shadow:  6px 2px 12px #707070;
    border: 1.5px solid rgb(96, 95, 95);;
    border-radius: 30px;
}
.formulario-contacto textarea{
    width: 100%;
    padding-bottom: 25%;
    text-align: center;
    box-shadow:  6px 6px 12px #707070   ;
}
.hr-contacto{
    width: 50%;
    margin: 3% auto;
}
.contacto-redes{
    width: 100%;
    text-align: center;
}
.contacto-redes h1{
    font-weight: bolder;
    font-size: 190%;
    color: rgb(96, 95, 95);
}
.Contacto-redes_sociales a{
    text-decoration: none;
    color: rgb(96, 95, 95);
    font-size: 200%;
    margin: 4% 3%;
    text-shadow: 6px 6px 12px #707070,
    -6px -6px 12px #ffffff;
}
.fa-instagram:hover{
    color:  #E1306C ;
}
.fa-facebook:hover{
    color: #3f729b ;
}
.fa-whatsapp:hover{
    color: #25D366;
}
.fa-twitter:hover{
    color: #00acee;
}

/***************** R E S E R V A S *****************/
.main-reservas{
    width: 100%;
    height: auto;
}
.texto-reservas{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 140%;
}
.texto-reservas h2{
    text-align: center;
    padding: 1% 0;
    font-size: 140%;
    color: #fff;
    background-color: #80800080;
}
.texto-reservas p{
    margin: 3% 0 ;
    font-weight: bolder;
}
.calendar{
    width: 95%;
    height: 35em;
    margin: 3% auto;
    background: rgba(0, 0, 0, 0.498);
    border-radius: 10px;
    border: 1px #000 solid;
}
.agenda-reservas{
    width: 100%;
    height: 100%;
   display: block;
}
.btn-reservas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 4% 0;
}
.btn-reservas button{
    padding: 1% 2%;
    border: 2px solid rgb(96, 95, 95);;
    border-radius: 30px;
    background: #e0e0e0;
}
.btn-reservas button:hover{
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}
.btn-reservas a{
    text-decoration: none;
    color: rgb(96, 95, 95);
    font-size: 120%;
    font-weight: 900;
}
.btn-reservas a:hover{
    color: rgb(66, 65, 65);
}

@media screen and (max-width: 896px){
    /***************** I N D E X *****************/
    .nav-menu_item{
        font-size: 100%;
    }
    .logo img{
        width:70%;
        margin: 5% auto;
    }
    .btn-nav{
        width: 40%;
        height: 100%;
    }
   .main-text1{
        font-size: 90% ;
    }
    .main-text1 h2{
        margin: 9%;
    }
    .main-text1 p{
        width: 90%;
        margin-top: 5%;
    }
    .main-text2{
        font-size: 90%;
    }  
    .main-text2 h2{
        margin: 9%;
    } 
    .main-text2 p{
        width: 90%;
    }
    .video{
        width: 90%;
        margin: 0 5%;
    }
    .ubication-text p {
        font-weight: lighter;
    }
    .footer-logo img{
        margin: 3% 0;
    }
    .footer-logo p{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .footer-contacto{
        margin: 0;
        font-size: 90%;
    }
    .footer-contacto p{
        margin: 2%;
    }
    .footer-redes{
        font-size: 100%;
    }

    /************S E R V I C I O S*****************/
    .card .back p{
        font-size: 90%;
    }
    .card .front h3 {   
        font-size: 100%;
    }
    /************* C O N T A C T O ****************/
   .map-contacto{
        width: 95%;
        margin-top: 5%;
    }
    /* ***** R E S E R V A S ******/
}
/**************************************************************/
 @media(max-width: 768px){
    /***************** I N D E X *****************/
    .header{
        height: 14vh;
        width: 100%;
        position: inherit;
    }
    .nav{
        flex-direction: row;
        width: 100%;
        height: auto;
    }
    .nav-menu_item a{
        font-size: 130%;
    }
    .logo{
        width:35%;
        height: auto;
        position: absolute;
        left: 30%;
        top: 0;
    }
    .logo img{
        width: 60%;
        height: auto;
    }
    .nav-menu{
        flex-direction: column;
        margin: 0;
        background-image: linear-gradient(to left top, #ccd3c6, #d7dccf, #e2e5d9, #edefe3, #f8f8ed);
        position: fixed;
        width: 100%;
        height: 86vh;
        top: 14%;
        padding: 0;
        right: 100%;
        transition: right 0.3s;
        z-index: 100;
    }
    .header-leng{
        position: relative;
        top: 25%;
        left: 70%;
        margin-top: 2%;
    }
    .nav-menu li:hover{
        width: 100%;
        box-shadow: inset -20px -20px 60px #bebebe,
            inset 20px 20px 60px #ffffff;
    }
    .nav-menu a{
        color: #000;
    }
    .nav-menu_item{
        line-height: 450%;
    }
    .nav_commit{
        display: none;
    }
    .btn{
        width: 40%;
        height: 7%;
        margin: 0 1%
    }
    .btn-nav{
        width: 35%;
        height: auto;
        font-size: 1em;
        font-weight: normal;
        position: relative;
        top: 30%;
        left: 10%;
        color: black;
        border: none;
    }
    .btn-nav:hover{
        color: #fff;
    }
    .nav-toggle {
        display: block;
    }
    .nav-menu_visible{
        right: 0;
    }
    /* main */
    .main-index{
        width: 100%;
        height: auto;
        position: inherit;
    }
    .slider-img{
        width: 100%;
        height: 100%;
    }
    .main-text1{
       width: 95%;
    }
    .main-text2{
        width: 95%;
     }
    .index-img1, .index-img2{
        width: 95%;
        height: 90%;
    }
    .video-content{
        margin-top: 5%;
        padding-bottom: 57%;
    }
    .ubication-text h3{
        line-height: 200%;
        font-size: 170%;
    }
    .ubication-text p {
        line-height: 200%;
        font-size: 110%;
    }
    .ubication-map{
       padding-bottom: 50%;
       position: relative;
    }
    .frame-map{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    /************S E R V I C I O S*****************/
    .main-servicios{
        width: 100%;
        left: 0;
    }
    .card .back h3 {
        font-size: 100%;
        font-weight: bolder;
    }
    .face .back{
        padding: 2%;
    }
    /************* C O N T A C T O ****************/
    .datos_contacto {
        width: 45%;
    }
    .formulario-contacto{
        width: 45%;
    }
    .map-contacto{
       height: 45vh;
    }
    /***************** R E S E R V A S *****************/
    .texto-reservas p{
        font-size: 90%;
    }
    .texto-reservas br{
        display: none;
    }
    .calendar {
        width: 95%; 
    }
    .calendar img{
        padding: 1%;
    }
}
@media screen and (max-width: 650px){
    /***************** I N D E X *****************/
    .header-leng{
        left: 70%;
        width: 50%;
    }
    .nav{
        height: 100%;
    }
    .logo{
        top: 4%;
    }
    .container-slider{
        height: 15em;
        top:  0;
    }
    .slider{
        height: 100%;
    }
    .container-slider img{
        object-fit: contain;
    }
    .main-text1, .main-text2{
        font-size: 80%;
    }
    .index-img1,.index-img2{
        height: 90%;
    }
    .video{
        width: 95%;
        margin: 0 2%;
    }
    footer{
        font-size: 95%;
        font-weight: normal;
    }
    .footer-contacto{
        width: 40%;
        margin: 2% 0;
    }
    /************* S E R V I C I O S ****************/
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .card:last-child{
       grid-column: 1 / 3;
       margin: auto;
       width: 50%;
    }
    .reserva-aqui{
        font-size: 90%;
    }
    /************* C O N T A C T O ****************/
    .contacto-general{
        display: block;
        margin: auto;
    }
    .datos_contacto {
        width: 70%;
        margin: auto;
    }
    .formulario-contacto{
        width: 70%;
        margin: auto;
        font-size: 110%;
    }
    .hr-datos_contacto{
        display: block;
        width: 50%;
        margin: 5% auto;
    }
    .formulario-contacto textarea{
        width: 100%;
    }
    .contacto-redes {
        font-size: 100%;
    }
    /***************** R E S E R V A S *****************/
    .texto-reservas p{
        width: 85%;
        margin: 3% auto;
    }
    .texto-reservas br{
        display: block;
    }
}

@media screen and (max-width: 597px){
    /***************** I N D E X *****************/
    .nav-toggle{
        line-height: 250%;
    }
    .logo {
        width: 50%;
        top: 1%;
        left: 25%;
    }
    .main-index{
        display: block;
    }
    .main-text1, .main-text2{
        width: 80%;
        margin: 3% auto;
        box-shadow: 15px 14.2px 0.2px -14px #61669e,
        22px 19px 0.9px -14px #6166a0,
        29.1px 26px 2.9px -14px #6f75b6,
        38px 34px 21px -14px #838ad6;
    }
    .main-text1 h2, .main-text2 h2{
       padding-top: 4%;
       margin: 0;
    }
    .main-text1 p, .main-text2 p{
        width: 80%;
    }
    .main-text1 a, .main-text2 a{
        padding-bottom: 5%;
    }
    .index-img1, .index-img2{
        width: 80%;
        height: 50vh;
        margin: 5% auto;

    }
    .video-content{
        padding-bottom: 60%;
        width: 95%;
        margin: auto;
    }
    .video{
        border-radius: 28px;
    }
    .ubication-text{
        margin: 2% 0;
        color: #1d1d1d;
    }
    .ubication-text p{
        font-size: 130%;
    }
    .ubication-map{
        padding-bottom: 60%;
    }
    .services-button{
        margin: 5% auto;
    }
    /* FOOTER */
    footer{
        display:block;
    }
   
    .footer-logo{
        width: 40%;
        margin: auto;
    }
    .footer-logo p{
        width: 100%;
    }
    .footer-contacto{
        margin: 5% auto;
        font-size: 110%;
    }
    .footer-contacto hr{
        display: block;
        margin: auto;
        width: 100%;
    }
    .footer-redes hr{
        display: block;
        margin: auto;
        width: 50%;
    }
    .footer-redes h2{
        font-size: 140%;
        margin-top: 3%;
        margin-bottom: 0;
    }
    .footer-redes_sociales{
        justify-content: space-evenly;
    }
    .footer-redes_sociales a{
        margin: 5% 0;
    }
    /************S E R V I C I O S*****************/
    .card-container{
        display: block;
    }
    .card{
        width: 80%;
        margin: 4% auto;
    }
    .card:first-child img{
        object-fit: cover;
        object-position: 0 80%;
    }
    .card:nth-child(3) img{
        object-fit: cover;
        object-position: 0 30%;
    }
    .card:nth-child(4) img{
        object-fit: cover;
        object-position: 0 30%;
    }
    .card:nth-child(6) img{
        object-fit: cover;
        object-position: 0 40%;
    }
    .card:nth-child(7) img{
        object-fit: cover;
        object-position: 0 30%;
    }
    .card:nth-child(8 ) img{
        object-fit: cover;
        object-position: 0 30%;
    }
    .card:last-child{
        width: 80%;
    }
    .reserva-aqui button{
        width: 50%;
        margin-top: 5%;
    }
    /************* C O N T A C T O ****************/
    .datos_contacto {
        margin: auto;
        font-size: 150%;
        margin-bottom: 5%;
    }
    .map-contacto{
        width: 100%;
    }
    .formulario-contacto{
        font-size: 130%;
    }
    .formulario-contacto textarea{
        width: 100%;
    }
/************* R E S E R V A S  ****************/
    .btn-reservas{
        flex-direction: column;
    } 
    .btn-reservas button{
        width: 40%;
        margin: 2% auto;
    }
    .btn-reservas a{
        font-size: 140%;
    }
}

@media screen and (max-width: 476px){
    /***************** I N D E X *****************/
    .header-leng{
        left: 55%;
    }
    .nav-menu{
        height: 85%;
        top: 13%;
    }
    .logo{
        top: 4%;
        left: 20%;
    }
    .main-text1, .main-text2{
        font-size: 95%;
    }
    .index-img1, .index-img2{
        height: 35vh;
    }
    /************S E R V I C I O S*****************/
    .tittle-servicios{
        font-size: 150%;
    }
    .card .back{
        padding: 5%;
        font-size: 120%;
    }
    .reserva-aqui{
        width: 100%;
    }
    .reserva-aqui button{
        width: 30%;
    }

     /***************** R E S E R V A S *****************/
     .calendar{
        width: 98%;
    }
    .texto-reservas h2{
        font-size: 100%;
    }
    .texto-reservas p{
        font-size: 75%;
    }
    .btn-reservas button{
        padding: 1%;
    }
    .btn-reservas a{
       font-weight: normal;
    }
}
/************************************************/
@media screen and (max-width: 415px){
    .logo{
        top: 3%;
    }
    .main-text1, .main-text2{
        font-size: 90%;
    }
}
@media screen and (max-width: 390px){
    .logo{
        top: 4%;
    }
}
@media screen and (max-width: 380px){
    /***************** I N D E X *****************/
    .logo{
        width: 65%;
        left: 16%;
        top: 2%;
    }
    .slider-btn{
        font-size: 150%;
        height: auto;
        width: 8%;
    }
    .main-text1, .main-text2{
        font-size: 90%;
    }
    .ubication-text{
        font-size: 100%;
    }
    .ubication-map{
        height: auto;
    }
    .frame-map{
       clip-path: none;
       display: block;
       margin: auto 5%;
       width: 90%;
       border-radius: 100%;
    }
    .services-button{
        font-size: 100%;
    }
     .card .back{
        font-size: 105%;
    }
}
/* *******************************************************/
@media screen and (max-width: 310px){
    /***************** I N D E X *****************/
    .logo {
        width: 46%;
        left: 20%;
        top: 5%;
    }
    .logo img {
        width: 73%;
    }
    .nav-menu {
        height: 61%;
        top: 13%;
    }
    .header-leng{
        left: 45%;
    }
    .container-slider{
        height: 20%;
    }
    .main-text1, .main-text2{
        font-size: 70%;
    }
    .index-img1, .index-img2{
        height: 70%;
    }
    .ubication-text{
        font-size: 90%;
    }
    .card{
        height: 40vh;
    }
    .services-link{
        font-size: 80%;
        margin: 10% 0;
    }
    .reserva-aqui{
        font-size: 100%;
    }
    .datos_contacto{
        font-size: 120%;
    }
    .formulario-contacto {
        font-size: 120%;
    }
    .map-contacto {
        height: 30vh;
    }
    .contacto-redes {
        font-size: 90%;
    }
    .footer-logo img{
        width: 90%;
    }
    .footer-logo img {
        width: 130%;
        margin-left: -20%;
    }
}
/********************************************************/
@media screen and (max-width: 270px){
    /***************** I N D E X *****************/
    .logo {
        width: 50%;
    }
    .main-text1, .main-text2{
        font-size: 61%;
    }
    .reserva-aqui h2{
        font-size: 130%;
    }
}
@media screen and (max-width: 240px){
    /***************** I N D E X *****************/
    .logo{
        width: 45%;
    }
    .header-leng{
        left: 35%;
        font-size: 90%;
    }
}